*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 2vw;
}

body{
    background-image: url(https://images.unsplash.com/photo-1650600538903-ec09f670c391?q=80&w=1971&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);   
    width:100%;
      height:100vh;
      text-align: center;
      background-repeat: no-repeat;
}

.header{
  display: flex;
  flex-direction: column;
  justify-self: center;
  background-color: whitesmoke;
  width: 50%;
        
}
.header h1, p{
  font-size: 4vw;
}

.menubox{
  display: flex;
flex-wrap: wrap;
}

.codeMenu, .frontMenu, .freecodecamp{
  display: none;
}

.codecademy:hover .codeMenu{
  display:flex;
  flex-direction: column;
  
}

.frontend:hover .frontMenu{
  display: flex;
  flex-direction: column;
}
.freecodecamp:hover .freecodecampMenu{
  display: flex;
  flex-direction: column;
}
.main{
  width: 45%;
  justify-items: center;
  margin-top: 10vw;
}

.code{
  background-color: bisque;
        margin: 2%;
        padding: 2%;
        width: 40vw;
        height: 5vw;
        font-size: 2vw;
        border-radius: 10px;
        
}

.codeMenu, .FrontMenu, .submenu {
  background-color: whitesmoke;
  width: 100%;
    border-radius:10px;
  
}
.submenu{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2px;
}
a{
  padding: 5px;
  line-height: 30px;
  border: 1px solid black;
}

p{
  font-weight: bolder;
}
@media only screen and (max-width:600px){
  *{
    font-size: 4vw;
  }
  .header{
    width: 100%;
  }
  .header h1, p{
    font-size: 8vw;
  }
  .menubox p{
    background-color: bisque;
  }
  .code {
    height: 10vw;
    font-size: 4vw;
  }
  a{
    font-size: 5vw;
  }
  .menubox, .submenu{
    display: flex;
    flex-direction: column;
  }
 .main, .code{
    width: 95%;
  }
}
